@import './paleta-cores.scss';

.btn-style-1{
    color: #fff;
    background-color: $primaria;
    border-radius: 5px;
    transition: 0.5ms;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    width: 230px;
    height: 40px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    &:hover{
        opacity: 0.9;
        transition: 0.5ms;
        text-decoration: none;
        color: #fff;
    }
}

.btn-style-2{
    color: #000;
    background-color: $secundaria;
    border-radius: 5px;
    transition: 0.5ms;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    width: 230px;
    height: 40px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    &:hover{
        opacity: 0.9;
        transition: 0.5ms;
        text-decoration: none;
        color: #000;
    }
}



