@import './paleta-cores.scss';

.btn-style-1{
    color: #fff;
    background-color: $primaria;
    border-radius: 5px;
    transition: 0.5ms;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    width: 230px;
    height: 40px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    &:hover{
        opacity: 0.9;
        transition: 0.5ms;
        text-decoration: none;
        color: #fff;
    }
}

.btn-style-2{
    color: $quaternaria;
    background-color: $secundaria;
    border-radius: 5px;
    transition: 0.5ms;
    font-weight: 300;
    font-size: 20px;
    text-transform: capitalize;
    width: 230px;
    height: 40px;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    &:hover{
        opacity: 0.9;
        transition: 0.5ms;
        text-decoration: none;
        color: #000;
    }
}


.content-login{
    .logo-mini-app{
        width: 15rem;
    }
}
.box-login{
    width: 35vw;
    height: 65vh;
    padding: 1rem;
    background-color: $terciaria;
    -webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.46);
box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.46);
 #form-login{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     input{
         width: 100%;
         border-radius: 5px;
         border: 1px solid #d4d4d4;
     }
 }
}

.h1-style{
    font-size: 22px;
    color: $quaternaria;
}