$primaria: #EF7734;
$secundaria: #D3CE3D;
$terciaria: #F9F4C2;
$quaternaria: #574437;
$quinaria: #B4D9CB;

.cl-primaria{
    color: $primaria;
}
.bg-primaria{
    color: $primaria;
}

.cl-secundaria{
    color: $secundaria;
}
.bg-secundaria{
    color: $secundaria;
}

.cl-terciaria{
    color: $terciaria;
}
.bg-terciaria{
    background-color: $terciaria;
}
.cl-quaternaria{
    color: $quaternaria;
}
.bg-quaternaria{
    background-color: $quaternaria;
}

.cl-quinaria{
    color: $quinaria;
}
.bg-quinaria{
    background-color: $quinaria;
}
